/* Main */
.page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.652), #b9b2a575), url('../images/bild3.jpg');
    background-size: cover;
    background-position: center;


}

.page-main div {
    max-width: 500px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .page-main {
        padding-left: 50%;
    }
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #dcdcdc;



}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 100px;
    max-width: 100px;
    height: 100px;
    margin-top: 10px;

}

.flex-outer>li>label+* {
    flex: 1 0 110px;
}

.flex-outer li button {
    margin-left: auto;
    padding: 10px 15px;
    border: solid rgb(0, 0, 0) 1px;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
}

button:hover {
    box-shadow: inset 510px 0 0 0 #c4bfc2;
}

/*Mq*/
@media screen and (min-width: 550px) {
    .page-header ul {
        width: auto;
        margin-top: 0;
    }

    .page-header .cta-contact {
        order: 1;
    }

    .page-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .page-footer ul {
        margin-bottom: 0;
    }
}

/* Footer */
.page-footer {
    display: flex;
    flex-direction: column-reverse;
    background: var(--main-white-color);
}

.page-footer ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
    margin-right: 20px;
}